.project-container{
    position: absolute;
    left: 33%;
    top: 15%;
    padding: 1rem;
    width:30%;  
    // height: 200px;
    background-color: #E4C253;
    img{
        width: 20%;
        height: auto;
    }
    h2{
        margin: 0;
    }
}

.project-container2{
    opacity: 0;
}